<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAADrsGGjsV5cQeRUmUpU4af3p7sygmhJk</string>
	<key>GCM_SENDER_ID</key>
	<string>712586347978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zrtech.zrTechApp</string>
	<key>PROJECT_ID</key>
	<string>zr-tech</string>
	<key>STORAGE_BUCKET</key>
	<string>zr-tech.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712586347978:ios:48e5b684eb3e97ea92fb33</string>
</dict>
</plist>